*.sdf

*.vcxproj

NTFoundationFramework/mac/NTFoundationFramework.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcuserstate

*.xcscheme

NTFoundationFramework/mac/NTFoundationFramework.xcodeproj/xcuserdata/tejusadiga.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist

*.xcuserstate

*.xcscheme

*.xcuserstate
